.banner_img {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center center;
    filter: none;
    background-size: cover;
    background-image: none;
    background-position: center center;
}

.mask{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(122,122,122,0.6);
    }

.homepage_container {
    min-height: calc(100vh - 105px);
    position: relative;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
}

.homepage_container_box {
    display: block;
    overflow: hidden;
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    margin: 0px;
}

.homepage_container .homepage_overlay {
    -moz-box-pack: start;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    height: 100%;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding: 64px 70px;
    width: 100%;
}

.homepage_container .homepage_overlay.homepage_rightForm {
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: baseline;
}

.homepage_container .homepage_overlay-wrapper {
    z-index: 1;
}

.homepage_form_container {
    display: inline-block;
    position: relative;
    width: 22rem;
    border-radius: 15px;
}

#bfcContainer {
    width: 100%!important;
    margin: 0;
}
section.fadeIn {
    -webkit-animation: fadeIn .8s;
    animation: fadeIn .8s;
}

.service-container{
    /* height: 540px; */
    /* padding-top: 30px;
    padding-bottom: 30px; */
}

.service_title{
    font-size: 1.5rem;
}

.service-steps .nav-tabs{
    padding: 20px 0;
    border: 0px;
}
.service-steps .nav-link{
    background-color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 2px 0 hsl(0deg 0% 79% / 50%), 0 0 4px 0 #eee;
    box-shadow: 0 1px 2px 0 hsl(0deg 0% 79% / 50%), 0 0 4px 0 #eee;
    font-size: 12px;
    margin-right: 100px;
    padding: 0px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.service-steps .nav-link.active{
    background-color: #5e54cf;
    color: #222;
}

.homepage_expTitle {
    color: #fff!important;
    font-size: 42px!important;
    font-weight: 400!important;
    line-height: 50px!important;
}

.homepage_expTitle strong{
    color:#5e54cf;
}

#bfcContainer {
    width: 100%!important;
    margin: 0;
}
section.fadeIn {
    -webkit-animation: fadeIn .8s;
    animation: fadeIn .8s;
}

.contact-us a{
    color: #fff;
}


@media (min-width: 551px) and (max-width: 800px){
    .homepage_form-container__2YdWo {
        display: block;
        margin: 0 auto;
    }
}


@media (max-width: 768px){
    h5, .h5 {
        font-size: 1rem;
    }
    .homepage_container .homepage_overlay {
        padding: 6% 0;
    }
    .homepage_container .homepage_overlay-wrapper {
        text-align: center;
        width: 100%;
    }

    .homepage_container .homepage_overlay.homepage_rightForm{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-steps .nav.nav-tabs{
        justify-content: space-between;
    }
    .service-steps .nav-link{
        margin-right: 0px;
    }


    .homepage_container .homepage_overlay-wrapper h1 {
        color: #222;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 24px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 90%;
    }

    .homepage_container .homepage_form_container.card{
        margin-top: 70px;
    }
}



@media (max-width: 1024px){
    .homepage_expTitle {
        text-align: left!important;
    }
}

@media (max-width: 700px){
    .homepage_expTitle {
        color: #fff!important;
        font-size: 33px!important;
        font-weight: 500!important;
        line-height: 35px!important;
        margin-left: 32px!important;
        text-align: left!important;
    }
}
